# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg

# .NET
queryrunner/bin/
queryrunner/obj/
loadgen/bin/
loadgen/obj/

# IDE
.vscode/
.vs/
.idea/

# OS
.DS_Store
Thumbs.db

# Non-source files
.token
*.json
*.dax
scripts/
notebooks/
requirements.txt
generate_interactive_token.py
test_output/
test_*.yaml
test_*.vpax
*.tmdl.bak

test_logs/

*.zip
